bleach
cycler
decorator
entrypoints
expat
fontconfig
freetype
glib
gst-plugins-base
gstreamer
html5lib
icu
ipykernel
ipython
ipython_genutils
ipywidgets
jinja2
jpeg
jsonschema
jupyter
jupyter_client
jupyter_console
jupyter_core
libffi
libgcc
libgfortran
libiconv
libpng
libsodium
libxcb
libxml2
markupsafe
matplotlib
mistune
mkl
nbconvert
nbformat
notebook
numpy
openssl
pandocfilters
path.py
pcre
pexpect
pickleshare
pip
prompt_toolkit
ptyprocess
pygments
pyparsing
pyqt
python
python-dateutil
pytz
pyzmq
qt
qtconsole
readline
scipy
setuptools
simplegeneric
sip
six
sqlite
terminado
testpath
tk
tornado
traitlets
wcwidth
wheel
widgetsnbextension
xz
zeromq
zlib